@use "../variables.scss" as *;
.chatPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .chat {
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    width: 100%;
    padding-bottom: 2.25rem;
    .wrapper {
      max-width: 48rem;
      width: 100%;
      padding: 18px 20px;

      .message {
        display: flex;
        color: $font-white;
        gap: 1.25rem;
        .text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          line-height: 24px;
          p {
            width: 100%;
            display: flex;
            margin: 8px 0;
            word-break: break-word; /* Ensures long words break and wrap */
            flex-wrap: wrap;
            overflow-wrap: break-word; /* Ensures that text within the paragraph wraps properly */
            white-space: normal; 
          }
          ol,
          ul {
            margin-bottom: 1.25rem;
            li {
              margin: 8px 0;
              padding-left: 6px;
            }
          }
          pre {
            white-space: pre-wrap;
          }
          
        }
        .AIIcon {
          height: 100%;
          width: 2rem;
          .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            border: 1.5px solid $mid-white-grey;
            width: 2rem;
            height: 2rem;
            padding: 0.35rem;
          }
        }
        &.user {
          padding: 10px 20px;
          max-width: 70%;
          border-radius: 1.5rem;
          background-color: $mid-dark-grey;
          width: fit-content;
          margin-left: auto;
          word-break: break-word; 
        }
      }
    }
  }
}
