@use "../variables.scss" as *;
@use "../breakpoints.scss" as breakpoints;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 4rem;
  @include breakpoints.xs {
    flex-direction: column;
  }
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  font-size: 16px;
  user-select: none;
  padding: 0 46px;
  height: 100%;
  @include breakpoints.md {
    padding: 0 36px;
  }
  @include breakpoints.sm {
    padding: 0 28px;
  }
  @include breakpoints.xs {
    padding: 0 20px;
  }
  @include breakpoints.xxs {
    padding: 0;
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: $font-white;

    h1 {
      display: flex;
      font-size: 7.5rem;
      background-image: linear-gradient(to right, #00ffcc, #00b3ff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h2 {
      font-size: 2.25rem;
    }

    h3 {
      font-weight: 400;
      max-width: 70%;
      font-size: 1.25rem;
    }

    a {
      padding: 0.75rem 1.5625rem;
      background-color: #008cff;
      color: $font-white;
      border-radius: 999px;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1.125rem;
      transition: background 0.5s, color 0.3s;

      &:hover {
        background-color: $white;
        color: #008cff;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
    height: 100%;
    flex: 1;
    .img_cont {
      position: relative;
      .bot_img {
        width: 90%;
        height: auto;
        animation: float 10s infinite ease-in-out;
      }
      .chat {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        background-color: $mid-grey;
        position: absolute;
        font-size: 16px;
        color: $font-white;
        font-weight: 600;
        bottom: 0;
        left: 0;
        border-radius: 6px;
        padding: 12px 16px;

        img {
          height: 40px;
          width: 40px;
          aspect-ratio: 1/1;
          border-radius: 99px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $white;
    gap: 10px;
    margin: auto 0 25px 0;
    .logo {
      height: 40px;
      width: 40px;
      @include breakpoints.sm {
        height: 30px;
        width: 30px;
      }
    }
    .links {
      display: flex;
      gap: 10px;
      font-size: 16px;
      color: $font-grey;
      font-weight: bold;
      width: max-content;
      @include breakpoints.sm {
        font-size: 14px;
      }
    }
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-16px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-26px);
  }
  100% {
    transform: translateY(0);
  }
}

@include breakpoints.lg {
  .homepage {
    .left {
      gap: 0.75rem;
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        max-width: 80%;
        font-size: 1rem;
      }
      a {
        padding: 0.7rem 1.4rem;
        font-size: 1.3rem;
      }
    }
    .right {
      .img_cont {
        .chat {
          padding: 8px 12px;
          font-size: 14px;
          bottom: -25px;
          img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
}

@include breakpoints.md {
  .homepage {
    .wrapper {
      gap: 2rem;
    }
    .left {
      gap: 0.5rem;
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 1.25rem;
      }
      h3 {
        max-width: 80%;
        font-size: 0.8rem;
      }
      a {
        padding: 0.6rem 1.2rem;
        font-size: 1.1rem;
      }
    }

    .right {
      .img_cont {
        .chat {
          padding: 6px 10px;
          font-size: 13px;
          bottom: -25px;
          img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
}
@include breakpoints.sm {
  .homepage {
    .wrapper {
      gap: 1.4rem;
    }
    .left {
      gap: 0.5rem;
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 1rem;
      }
      h3 {
        max-width: 100%;
        font-size: 0.8rem;
      }
      a {
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
      }
    }
  }
}

@include breakpoints.xs {
  .homepage {
    .wrapper {
      margin-top: 3rem;
      gap: 4rem;
      height: fit-content;
      flex-direction: column;
    }
    .left {
      gap: 0.5rem;
      flex: 0;
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        max-width: 80%;
        font-size: 1rem;
      }
      a {
        padding: 0.7rem 1.4rem;
        font-size: 1.3rem;
      }
    }
    .right {
      flex: 0;
      .img_cont {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          width: 80%;
          height: auto;
        }
      }
    }
  }
}
@include breakpoints.smm {
  .homepage {
    .right {
      .img_cont {
        .chat {
          padding: 6px 8px;
          font-size: 13px;
          bottom: -25px;
          img {
            height: 32px;
            width: 32px;
          }
        }
      }
    }
  }
}
@include breakpoints.xs {
  .homepage {
    .wrapper {
      margin-top: 3rem;
      gap: 4rem;
      height: fit-content;
      flex-direction: column;
    }
    .left {
      gap: 0.5rem;
      flex: 0;
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        max-width: 80%;
        font-size: 1rem;
      }
      a {
        padding: 0.7rem 1.4rem;
        font-size: 1.3rem;
      }
    }
    .right {
      flex: 0;
      .img_cont {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          width: 80%;
          height: auto;
        }
      }

      .chat {
        font-size: 15px;
        bottom: -25px;
        img {
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}
@include breakpoints.xxs {
  .homepage {
    .warpper {
      margin-top: 1rem;
      gap: 2rem;
      height: fit-content;
      flex-direction: column;
    }
    .left {
      gap: 0.3rem;
      flex: 0;
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      h3 {
        max-width: 100%;
        font-size: 0.8rem;
      }
      a {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
      }
    }
    .right {
      flex: 0;
      .img_cont {
        display: flex;
        justify-content: center;
        width: 100%;

        .chat{
          bottom: -30px;
          left: 10px;
        }
      }
    }
  }
}
