@use "../variables.scss" as *;
.chatList {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: $dark-grey;
  height: 100vh;
  padding-left: 0.75rem;
  padding-right: 0.25rem;
  user-select: none;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    padding-right: 0.5rem;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: $font-grey;
      border: none;
      cursor: pointer;
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
  .middle_cont {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    .newChat {
      display: flex;
      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        display: flex;
        width: 100%;
        color: $font-white;
        gap: 0.625rem;
        cursor: pointer;
        .newChatLogo {
          flex-shrink: 0;
          border: 1.5px solid $mid-white-grey;
          border-radius: 999px;
          height: 24px;
          width: 24px;
          color: $white;
          padding: 3px;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: start;
          width: 69%;
          height: 100%;
        }
        &:hover .copyIcon {
          opacity: 1;
        }
        .copyIcon {
          height: 18px;
          width: 18px;
          opacity: 0;
          color: $font-grey;
          transition: opacity 150ms;
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;

      a {
        color: $font-white;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        div {
          width: 100%;

          span {
            position: relative;
            width: 100%;
            flex: 1;
            display: flex;
            overflow-x: hidden;
            .three_dots {
              width: fit-content;
              position: absolute;
              right: 0;
              top: 0;
              z-index: 10; 
              padding-right: 0.125rem;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content:end;
              color: $font-white; 
              width: 42px;
              background-image: linear-gradient(to left, $dark-grey 15%, rgba(0, 0, 0, 0) 100%);
              transition: all 100ms;
              svg {
                display: none;
                height: 18px;
                width: 18px;
              }
            }
          }
        }
        &:hover .three_dots{
          background-image: linear-gradient(to left, #212121 60%, rgba(0, 0, 0, 0) 100%);
          svg{
            color: $grey;
            display: block;
            &:hover{
              color: $font-white;
            }
          }
        }
      }
    }
  }
  .upgrade {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0.5rem 10px 0;
    gap: 0.5rem;
    white-space: nowrap;
    .upgradeIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      border: 1px solid $mid-grey;
      height: 28px;
      width: 28px;
      color: $white;
      svg {
        padding: 4px;
      }
    }
    .texts {
      display: flex;
      flex-direction: column;
      span {
        &:first-child {
          color: $white;
          font-size: 14px;
          margin-bottom: 1px;
        }
        &:last-child {
          color: $white-grey;
          font-size: 12px;
        }
      }
    }
  }
}
